@inherits LayoutComponentBase

<div>
    <div>
        <NavLink href="/">Home</NavLink>
        <NavLink href="/create">Create</NavLink>
        <NavLink href="/">Update</NavLink>
        <NavLink href="/">Delete</NavLink>
        <NavLink href="/">Display</NavLink>
    </div>

    <div>
        @Body
    </div>
</div>
